:root {
    --color-primary: #542575;
    --color-secondary: #1d1822;
    --color-background: #16101a;
    --color-text: white;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

form {
    padding: 2rem;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--color-secondary);
}

form h2 {
    padding: 1rem;
    text-align: center;
    margin-bottom: var(--spacing-unit);
}

form label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

form input[type="text"],
form input[type="password"] {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-unit);
}

form button {
    width: 100%;
    padding: var(--spacing-unit);
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: darken(var(--color-primary), 10%);
}

.error {
    color: #ff4d4d;
    font-size: 0.9rem;
}
