name: unique_auth_test
services:
  test:
    image: ghcr.io/astral-sh/uv:python3.13-alpine
    container_name: unique_auth_test
    volumes:
      - ../:/app
    environment:
      - ENV=test
      - VIRTUAL_ENV=.venv-test
      - PYTHONPATH=/app
      # テスト用のデータベース設定
      - DB_HOST=test-db
      - DB_PORT=3306
      - DB_USER=api
      - DB_PASSWORD=P@ssw0rd
      - DB_NAME=testdb
    working_dir: /app
    command: >
      /bin/sh -c "apk add --no-cache \
      gcc \
      musl-dev \
      python3-dev \
      mariadb-dev \
      pkgconf \
      build-base \
      mysql-client && \
      uv venv .venv-test && \
      uv sync --active && \
      uv pip install --active pytest pytest-cov && \
      sleep 10 && \  # データベースの起動を待つ
      pytest tests/ -v --cov=unique_api"
    depends_on:
      - test-db
    networks:
      - unique_test

  test-db:
    image: mysql:9.6
    container_name: unique_test_db
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_USER: api
      MYSQL_PASSWORD: P@ssw0rd
      MYSQL_DATABASE: testdb
      MYSQL_TCP_PORT: 3306
    tmpfs:
      - /var/lib/mysql  # テスト用のデータをメモリ上に配置
    networks:
      - unique_test

networks:
  unique_test:
    name: unique_test