name: unique_auth
services:
  unique_api:
    image: ghcr.io/astral-sh/uv:python3.14-alpine
    container_name: unique_auth
    ports:
      - "8000:8000"
    volumes:
      - ../:/app
    environment:
      ENV: development
      VIRTUAL_ENV: .venv-compose
      DATABASE_URL: mysql://api:NewPass123@unique_db:3306/devdb
    working_dir: /app
    command: >
      /bin/sh -c "apk add --no-cache \
      gcc \
      musl-dev \
      python3-dev \
      mariadb-dev \
      pkgconf \
      build-base \
      mysql-client && \
      uv venv .venv-compose && \
      uv sync --active && \
      uv run --active unique_api/app/main.py"
    networks:
      - unique

  api-dbsrv-01:
    image: mysql:9.6
    container_name: unique_db
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_USER: api
      MYSQL_PASSWORD: NewPass123
      MYSQL_DATABASE: devdb
      MYSQL_TCP_PORT: 3306
      MYSQL_ROOT_PASSWORD: R00tP@ssw0rd
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf.d/my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "3306:3306"
    networks:
      - unique

  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - api-dbsrv-01
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=unique_db
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=R00tP@ssw0rd
    container_name: unique_phpmyadmin
    ports:
      - "3001:80"
    networks:
      - unique

networks:
  unique:
    external: false
