name: unique_auth
services:
  unique_api:
    image: ghcr.io/astral-sh/uv:python3.13-alpine
    container_name: unique_auth
    ports:
      - "8000:8000"
    volumes:
      - ../:/app
    environment:
      - ENV=development
      - VIRTUAL_ENV=.venv-compose
    working_dir: /app
    command: >
      /bin/sh -c "apk add --no-cache \
      gcc \
      musl-dev \
      python3-dev \
      mariadb-dev \
      pkgconf \
      build-base \
      mysql-client && \
      uv venv .venv-compose && \
      uv sync --active && \
      uv run --active unique_api/app/main.py"
    networks:
      - unique

  frontend:
    image: node:20-alpine
    container_name: unique_frontend
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/app
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:8000
    working_dir: /app
    command: >
      /bin/sh -c "npm install && \
      npm run dev -- --host 0.0.0.0"
    networks:
      - unique
    depends_on:
      - unique_api

  api-dbsrv-01:
    image: mysql:8.4
    container_name: unique_db
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_USER: api
      MYSQL_PASSWORD: P@ssw0rd
      MYSQL_DATABASE: devdb
      MYSQL_TCP_PORT: 3306
    volumes:
      - ./db/data:/var/lib/mysql
      - ./db/conf.d/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    networks:
      - unique

  phpmyadmin:
    image: phpmyadmin
    depends_on:
      - api-dbsrv-01
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOSTS=unique_db
    ports:
      - "3001:80"
    networks:
      - unique

networks:
  unique:
    name: unique
